* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  background-color: #aaa7cc;
}


h1 {
  font-weight: 500;
}


.app {
  width: 120rem;
  height: 100vh;
  margin: 0 auto;
  background-color: #eeeeee;
}

table,
th,
td {
  border: 1px solid black;
}

table {
  width: 80%;
  margin: 0 auto;
}