* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  background-color: #aaa7cc;
  overflow-x: hidden;
}


h1 {
  font-weight: 500;
}


.app {
  width: 120rem;
  margin: 0 auto;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
}

table,
th,
td {
  border: 1px solid black;
}

table {
  width: 80%;
  margin: 0 auto;
}


.clicable-row {
  cursor: pointer;
}

button {
  height: 4rem;
  width: 16rem;
  margin: .5rem;
  align-self: center;
  cursor: pointer;
}

.no-data {
  align-self: center;
  font-size: 2.4rem;
  margin-top: 2rem;
}


.show-selected-person {
  width: 60%;
  margin: 2rem auto;

}

.selected {
  background-color: lightsalmon;
}

.data-table {
  display: flex;
  flex-direction: column;
}

.add-data {
  align-self: center;
  margin: 1rem;
  font-size: 1.8rem;
}

.add-data__btn {
  font-size: 1.4rem;
  cursor: pointer;
}

.add-data__window {
  width: 50%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
}

.add-data__window input {
  width: 40%;
  height: 4rem;
  padding-left: .3rem;
  font-size: 1.4rem;
  margin: .3rem;
}